doctype 5
html
 head
  title T2G Resource Hub
  link(href='/main.css', type='text/css', rel='stylesheet')
 body
  header
   h1 T2G Resource Hub
   nav
    a(href='/') Home
    a(href='/about') About
    a(href='/contact') Contact
  .assignment
   !=yield
  footer
   p
    | &copy; 2013 Classify Studios. All Rights Reserved. Made with <a href='http://harpjs.com'>Harp</a> + Angular