doctype 5
html
 head
  title T2G Resource Hub
  link(href='/main.css', type='text/css', rel='stylesheet')
  script(src='/bower_components/jquery/jquery.min.js')
  script(src='http://yandex.st/highlightjs/7.5/highlight.min.js')
  script(src='/main.js')
 body
  header
   h1 T2G Resource Hub
   nav
    a(href='/') Home
    a(href='/about') About
    a(href='/contact') Contact
  .assignmentContent
   !=yield
   a(href='https://twitter.com/intent/tweet?text=I+just+finished+learning+some+code+and+web+design+at+T2G!&url=http%3A%2F%2Fhub.teen2geek.com/&hashtags=coding,teen2geek', class='tweet', target='_blank')
    i.fa.fa-twitter
    | Tweet Your Progress!
  footer
   p
    | &copy; 2013 Classify Studios. All Rights Reserved. Made with <a href='http://harpjs.com'>Harp</a> + Angular