.course.animated.fadeInDown(class='backend page')
 h2
  i.fa(class='#{public._data.courses.backend.faIcon}', style='background-color: #{public._data.courses.backend.color};')
  | #{public._data.courses.backend.name}
.items
 != partial("_item", {resources: public._data.courses.backend.resources})