.content
 h1 Contact
 p
  | To contact me regarding anything about Teen2Geek or T2G Resource Hub, 
  | feel free to email me at 
  a(href='mailto:krishna.dholakiya@gmail.com?subject=T2G%20Resource%20Hub') krishna.dholakiya@gmail.com.