.course.animated.fadeInDown(class='frontend page')
 h2
  i.fa(class='#{public._data.courses.frontend.faIcon}', style='background-color: #{public._data.courses.frontend.color};')
  | #{public._data.courses.frontend.name}
.items
 != partial("_item", {resources: public._data.courses.frontend.resources})