.course.animated.fadeInDown(class='uiDesign page')
 h2
  i.fa(class='#{public._data.courses.uiDesign.faIcon}', style='background-color: #{public._data.courses.uiDesign.color};')
  | #{public._data.courses.uiDesign.name}
.items
 != partial("_item", {resources: public._data.courses.uiDesign.resources})