.course.animated.fadeInDown(class='webFundamentals page')
 h2
  i.fa(class='#{public._data.courses.webFundamentals.faIcon}', style='background-color: #{public._data.courses.webFundamentals.color};')
  | #{public._data.courses.webFundamentals.name}
.items
  != partial("_item", {resources: public._data.courses.webFundamentals.resources})